README_AUTHOR.md
**/*.app
**/*.xcodeproj
**/*.xcconfig
**/data/*.mp4
**/data/*.mov
**/data/*.tiff
*/addons.make
*/config.make
*.mp4
/bin/exampleSimple

*/bin
!*/bin/data

*.DS_Store
**.o
**.d
**.compiler_flags
*.gch
